{% extends "base.html" %} {% block title %}Create an Assignment{% endblock %} {%
block content %}
<h1>Create an Assignment</h1>
<p>Fill out the form below to create a new assignment.</p>

<form method="POST" action="">
  {{ form.hidden_tag() }}
  <p>
    {{ form.title.label }}<br />
    {{ form.title(size=32) }}<br />
    {% for error in form.title.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br />
    {{ form.description(rows=4, cols=32) }}<br />
    {% for error in form.description.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.due_date.label }}<br />
    {{ form.due_date(type='date') }}<br />
    {% for error in form.due_date.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.course_id.label }}<br />
    {{ form.course_id() }}<br />
    {% for error in form.course_id.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>

  <p>{{ form.submit() }}</p>

  {% endblock %}
</form>
