
/* Google font: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#FFFF8E, #FFFFc8);
}

.sidebar {
    background: #581f91;
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    height: calc(100vh - 32px);
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar.collapsed .sidebar-header .toggler {
    transform: translate(-4px, 65px);
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}


.sidebar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.4s ease;
    border-radius: 8px;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.4s ease;
}

.sidebar-nav .nav-link:hover {
    background: #fff;
    color:#581f91
}



.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    position: relative;

} 

.sidebar-nav .nav-list {
    list-style: none; 
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;

}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 8px;
    background: #fff;
    color: #151A2D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s ease;
    position: absolute;
    right: 20px;
}

.sidebar-header .toggler span {
    font-size:  1.75rem;

}

.sidebar-header .toggler:hover{
    background: #dde4fb;

}

.sidebar.collapsed .sidebar-header .toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-tooltip {
    color: #151A2D;
    background: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    position: absolute;
    left: calc(100% + 25px);
    top: -10px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
    display: none;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
    transition: 0.4s ease;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}