{% extends "registerBase.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<h1>Forgot Password</h1>
<p>Enter your email address and we'll send you a link to reset your password.</p>
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-field">
        {{ form.email.label }}<br>
        {{ form.email(size=32, class_="input") }}
        {% for err in form.email.errors %}
            <div class="error">{{ err }}</div>
        {% endfor %}
    </div>
    {{ form.submit(class_="btn") }}
</form>
<p>Remember your password? <a href="{{ url_for('auth.login') }}">Log in here</a></p>
{% endblock %}
