{% extends "registerBase.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<h1>Reset Password</h1>
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-field">
        {{ form.password.label }}<br>
        {{ form.password(size=32, class_="input") }}
        {% for err in form.password.errors %}
            <div class="error">{{ err }}</div>
        {% endfor %}
    </div>
    <div class="form-field">
        {{ form.password_confirm.label }}<br>
        {{ form.password_confirm(size=32, class_="input") }}
        {% for err in form.password_confirm.errors %}
            <div class="error">{{ err }}</div>
        {% endfor %}
    </div>
    {{ form.submit(class_="btn") }}
</form>
{% endblock %}
