<!-- Modified sidebar following a YT video: https://www.youtube.com/watch?v=aWGlFgMQW3U&list=PLpwngcHZlPafcrmbvCsXig3tiUpIa-DVo-->
<aside class="sidebar">
  <!-- header -->
  <header class="sidebar-header">
    <a href="" class="header-logo">
      <img
        id="logo"
        src="{{ url_for('static', filename='logo.jpg') }}"
        alt="EduNexus"
      />
    </a>
    <button class="toggler">
      <span class="material-symbols-rounded">chevron_backward</span>
    </button>
  </header>

      <nav class="sidebar-nav">
        <ul class="nav-list primary-nav">
          <li class="nav-item">
            <a href="/home" class="nav-link">
              <span class="material-symbols-rounded">home</span>
              <span class="nav-label">Home</span>
            </a>
            <span class="nav-tooltip">Home</span>
          </li>
          <li class="nav-item">
            <a href="/classes" class="nav-link">
              <span class="material-symbols-rounded">book</span>
              <span class="nav-label">Classes</span>
            </a>
            <span class="nav-tooltip">Classes</span>
          </li>
          <li class="nav-item">
            <a href="/assignments" class="nav-link">
              <span class="material-symbols-rounded">assignment</span>
              <span class="nav-label">Assignments</span>
            </a>
            <span class="nav-tooltip">Assignments</span>
          </li>
          {% if current_user.is_authenticated and current_user.role == 'student' %}
          <li class="nav-item">
            <a href="/grades" class="nav-link">
              <span class="material-symbols-rounded">star</span>
              <span class="nav-label">Grades</span>
            </a>
            <span class="nav-tooltip">Grades</span>
          </li>
          {% endif %}
          {% if current_user.is_authenticated and current_user.role !=
          'instructor' %}
          <li class="nav-item">
            <a href="/analytics" class="nav-link">
              <span class="material-symbols-rounded">chart_data</span>
              <span class="nav-label">Analytics</span>
            </a>
            <span class="nav-tooltip">Analytics</span>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{{ url_for('main.announcements') }}" class="nav-link">
              <span class="material-symbols-rounded">campaign</span>
              <span class="nav-label">Announcements</span>
            </a>
            <span class="nav-tooltip">Announcements</span>
          </li>
          {% if current_user.is_authenticated and current_user.role ==
          'instructor' %}
          <li class="nav-item">
            <a href="{{ url_for('main.teacher_portal') }}" class="nav-link">
              <span class="material-symbols-rounded">school</span>
              <span class="nav-label">Teacher Portal</span>
            </a>
            <span class="nav-tooltip">Teacher Portal</span>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="/auth/logout" class="nav-link">
              <span class="material-symbols-rounded">chart_data</span>
              <span class="nav-label">Logout</span>
            </a>
            <span class="nav-tooltip">Logout</span>
          </li>
        </ul>
      </nav>
</aside>
